<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.entrepreneurPark.ApplicationMapper">

    <select id="selectPage" resultType="com.ruoyi.system.domain.entity.Application">
        SELECT * FROM application
        <where>
            <if test="applicantName != null and applicantName != ''">
                AND applicant_name LIKE CONCAT('%', #{applicantName}, '%')
            </if>
            <if test="applicantPhone != null and applicantPhone != ''">
                AND applicant_phone LIKE CONCAT('%', #{applicantPhone}, '%')
            </if>
        </where>
    </select>

    <select id="selectPage1" resultType="com.ruoyi.system.domain.entity.Application">
        SELECT * FROM application
        <where>
            <if test="processIds != null">
                AND process_id IN
                <foreach item="item" index="index" collection="processIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="applicantName != null and applicantName != ''">
                AND applicant_name LIKE CONCAT('%', #{applicantName}, '%')
            </if>
            <if test="applicantPhone != null and applicantPhone != ''">
                AND applicant_phone LIKE CONCAT('%', #{applicantPhone}, '%')
            </if>
        </where>
    </select>


</mapper>
