<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.entrepreneurPark.CompetitionNameMapper">
    <select id="selectCompetitionNamesByPage" resultType="com.ruoyi.system.domain.entity.CompetitionName">
        SELECT * FROM competition_names
        <where>
            <if test="competitionName != null and competitionName != ''">
                AND competition_name LIKE CONCAT('%', #{competitionName}, '%')
            </if>
        </where>
        ORDER BY competition_id ASC
        LIMIT #{page}, #{size}
    </select>


</mapper>
